/* 
https://www.google.com/fonts#UsePlace:use/Collection:Economica:700|Lora:400,700,400italic,700italic|Roboto+Mono:400,700,400italic,700italic
*/
@import url(http://fonts.googleapis.com/css?family=Economica:700|Lora:400,700,400italic,700italic|Roboto+Mono:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Coda);

body { 
  /* Make room for the fixed navbar */
  padding-top: 70px;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.navbar {
  font-family: Coda;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-default {
  font-family: Coda;
}

.readmore {
  position:relative;
}

.readmore > .post {
  max-height: 300px;
  overflow: hidden;
  position: relative;
}

.readmore > a.readmore-click {
  color: transparent;

  position:absolute;
  display:block;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  background:linear-gradient(to top, rgba(231, 234, 210, 1), rgba(231, 234, 210, 0) 100px);
}

.readmore > a.readmore-click:hover {
  color: #524645;
  background:linear-gradient(to top, rgba(231, 234, 210, 1), rgba(231, 234, 210, 0.5) 100px);
}

.readmore > a.readmore-click::after {
  font-family: Coda;
  font-size: 24px;
  text-decoration: underline;
  content: "Read More";
  position: absolute;
  bottom: 0px;
}

.postmark {
  color: #524645;
  width: 25px;
  font-size: 80%;
  margin-right: 10px;
}
@media (min-width: 800px) {
  .postmark {
    margin-left: -35px;
  }
}