/* 
https://www.google.com/fonts#UsePlace:use/Collection:Economica:700|Lora:400,700,400italic,700italic|Roboto+Mono:400,700,400italic,700italic
*/
@import url(http://fonts.googleapis.com/css?family=Economica:700|Lora:400,700,400italic,700italic|Roboto+Mono:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Coda&text=80%25);

body { 
  /* Make room for the fixed navbar */
  padding-top: 70px;
}

.navbar-brand {
  font-family: Coda;
  font-size: 24px;
}