      <footer>
        <nav class="footer navbar-default clearfix container-fluid">
          <div class="row navbar-text">
            <div class="pull-left">
              <span class="text-nowrap">&copy; 2003-{{ dateFormat "2006" .Site.LastChange}} Joe Beda</span>
              <span class="text-nowrap"><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="navbar-link">CC by-nc-nd 4.0</a></span>
            </div>
            <div class="pull-right"><a class="navbar-link" href="#top">Back to top</a></div>
          </nav>
        </div>
      </footer>
